/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body{
    background-color: #b2bec3;
}

h1 {
    color:#d63031;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
    }

.twitter {
    background-color: #1da1f2;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
}

.twitter a:hover,
.twitter a:link,
.twitter a:visited { 
    text-decoration: none;
    color: #ffffff;
}
/* 
.twitter:has(a:active){
    background-color: red;

} */

/* /* .twitter a:active {
    background-color: #0b7bc1;
} */

.twitter:active {
    background-color: #0b7bc1;
} 


.facebook {
    background-color:#3b5998;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.facebook a:hover,
.facebook a:link,
.facebook a:visited { 
    text-decoration: none;
    color: #ffffff;
}

.facebook:active {
    background-color: #2b406e;
}

.fotoEliska {
    width: 150px;
    height: 150px;
    border: 3px solid #ffffff;
    float: right;
    border-radius: 50%;
    position: relative;
    right: 360px;
    top: -70px;
    box-shadow: 5px 5px 5px rgb(157, 157, 157);
}

.oEliske {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.box {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 150px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px rgb(157, 157, 157);
    border-radius: 5px;
}
